.introduce-h1 {
    color: rgb(0, 150, 255);
    /*user-select: none;*/
    text-align: center;
}

.introduce-p {
    color: rgb(0, 150, 255);
    /*user-select: none;*/
    text-align: center;
}

introduce h1 {
    color: rgb(0, 150, 255);
    /*user-select: none;*/
    text-align: center;
}


/*
introduce p {
    color: rgb(0, 150, 255);*/
    /*user-select: none;*/
    /*    text-align: center;
}*/

introduce h3 {
    color: rgb(0, 150, 255);
    /*user-select: none;*/
    text-align: center;
}

diycolor {
    position: relative;
    text-decoration: none;
}

diycolor *::before {
    content: attr(data-text);
    position: absolute;
    text-decoration: none;
    color: var(--clr);
}

.hide {
    color: rgba(0, 0, 0, 0);
}